<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.with_you">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"

        >
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="w7qhky1q5i" />

        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Album" />
        <activity android:name=".Numberchange"/>
        <activity android:name=".ConnectWaiting"/>
        <activity android:name=".ConnectRegister"/>
        <activity android:name=".Loading"/>
        <activity android:name=".Anniversary"/>
        <activity android:name=".Options"/>
        <activity android:name=".Home"/>
        <activity android:name=".Connect"/>
        <activity android:name=".Register"/>
        <activity android:name=".Photomap"/>
        <activity android:name=".Locationpick"/>
        <activity android:name=".Photoinput"/>
        <activity android:name=".Placeselect"/>



    </application>

</manifest>